# General
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Home Assistant specific
.storage/
.cloud/
.HA_VERSION
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
secrets.yaml